<mat-card>
  <mat-card-header>
    <mat-card-title>Search Magic Pack</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field color="accent">
      <mat-label>Name of the set</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Block</mat-label>
      <mat-select name="block">
        <mat-option *ngFor="let block of blocks" [value]="block">
          {{ block }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-stroked-button color="accent"><mat-icon>search</mat-icon> Search</button>
  </mat-card-content>
</mat-card>
