@use "@angular/material" as mat;

$primary-palette: mat.$indigo-palette;
$accent-palette: mat.$green-palette;

mat-card {
  max-width: 380px;
  margin: 1rem auto;

  mat-card-title {
    color: map-get($map: $accent-palette, $key: A200);
  }
  mat-card-header {
    margin-bottom: 0.8rem;
  }
  mat-form-field {
    margin-right: 0.5rem;
  }

  @media screen and (min-width: 768px) {
    max-width: 600px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 80%;
  }
}
