<section>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Collections</mat-card-title>
    </mat-card-header>
    <!-- container flex -->
    <mat-card-content>
      <div *ngFor="let set of sets" class="set-item">
        <h2 class="set-title">{{ set.name }}</h2>
        <h4 class="set-block">{{ set.block }}</h4>
        <div class="set-actions-wrapper">
          <mat-chip disableRipple color="accent">
            {{ set.releaseDate | date : "dd/MM/yyyy" }}
          </mat-chip>
          <button
            class="set-select"
            mat-flat-button
            color="accent"
            (click)="selectSet(set.code)"
          >
            Select
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="this.cards.length">
    <mat-card-header>
      <mat-card-title>Boosters</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let card of cards" class="card-item">
        <img class="card-img" [src]="card.imageUrl" />
        <div class="card-info">
          <h2>{{ card.name }}</h2>
          <h4>{{ card.types }}</h4>
          <p>{{ card.colorIdentity }}</p>
          <p>{{ card.manaCost }}</p>
          <p>{{ card.text }}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <p style="color:white" *ngIf="error?.hasError">{{error?.message}}</p>
</section>
